* {
    background-color: black;
    color: ghostwhite;
}

body {
    margin: 4 auto;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10vh;
}

.reset {
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #544b7a;
  border: none;
  border-radius: 12px;
  border-bottom: 4px solid #3c3559; /* The 3D depth layer */
  cursor: pointer;
  transition: all 0.1s ease;
}

.reset:hover {
  background-color: #44396e;
}

.reset:active {
  border-bottom-width: 0px;
  margin-top: 4px; /* Simulates the button being physically pressed flat */
}

p {
    font-size: 14pt;
}

label {
    font-size: 14pt;
}

.speed {
    margin-left: 5px;
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
}

.blue {
    color: #3665d1;
}

.blue * {
    color: #3665d1;
}

.yellow {
    color: #d4a524;
}

.yellow * {
    color: #d4a524;
}

.orange {
    color: #d17f36;
}

.orange * {
    color: #d17f36;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  accent-color: #457a2f;
  cursor: pointer;
  margin-right: 15px;
}

.section_note {
    font-size: 14pt;
    margin-left: 45px;
    margin-bottom: 50px;
}

.footnote {
    margin-left: 45px;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 50px;
}

.section_title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.entry {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
